<!DOCTYPE html>
<html>
  <head>
    <title>Team#1</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        width: auto;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"],
       .form-signin input[type="date"]
       {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
        width : 300px;
      }

    </style>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.css' />
  </head>
  <body>
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Update Story</h2>
        <%=results.activity.length%>
        </br>
        Select Story to be updated:<br>
       
        <input type="text" class="input-block-level" name="name" >
        
         </br>
        Description:<br>
       
        <input type="text" class="input-block-level" name="desc" >
       
        
		 </br>
        Acceptance Test :<br>
        <input type="text" class="input-block-level" name="acceptanceTest" >
		 </br>
        Story Points :<br>
        <input type="text" class="input-block-level" name="storyPoints" >
		</br>
       Resource name :<br>
        <input type="text" class="input-block-level" name="resourceName" >
		</br>
        Estimated Hours:<br>
        <input type="text" class="input-block-level" name="estimatedHours" >
		 
		 </br>
        Remaining Hours:<br>
        <input type="text" class="input-block-level" name="remainingHours" >
		 
        </br>
        </br>
        </br>
		<button class="btn btn-large btn-primary" type="submit" formaction="/afterUpdateStory">Update Story</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
       
      </form>

    </div>
        <script src="/public/bootstrap/js/bootstarp.js"></script>
  </body>
</html>